<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size="6">
      <ion-item lines="none">
        <ion-title>Well, hello,</ion-title>
        <ion-title color="primary">{{this.detailsHandlerService.user.name.first}}</ion-title>
      </ion-item>
      <br>
      <ng-container *ngIf="detailsHandlerService.user.location.city === 'unknown'">
        <ion-item lines="none">
          <ion-title color="medium">Are you homeless?</ion-title>
        </ion-item>
      </ng-container>
      <ng-container *ngIf="detailsHandlerService.user.location.city !== 'unknown'">
        <ion-item lines="none">
          <ion-title color="medium">Do you live in</ion-title>
          <ion-title color="primary">{{this.detailsHandlerService.user.location.city}}?</ion-title>
        </ion-item>
      </ng-container>
      <br>
      <ion-item lines="none">
        <ion-button color="primary"
                    slot="start"
                    size="default"
                    (click)="this.showWeather()">
          Yes
        </ion-button>
        <ion-button color="warning"
                    slot="end"
                    size="default"
                    (click)="this.changeCity()">
          No
        </ion-button>
      </ion-item>
      <ng-container *ngIf="currentWeather">
        <ion-item lines="none">
          <div class="weather-card">
            <div class="weather-card__location">
              <p>Ok, I see it is {{ currentWeather?.current.condition.text }} in {{ currentWeather?.location.name }}, {{ currentWeather?.location.country }}</p>
              <img [src]="currentWeather?.current.condition.icon" alt="{{ currentWeather?.current.condition.text }}">
            </div>
            <div class="weather-card__temperature">
              <p class="temperature">It is {{ currentWeather?.current.temp_c }}°C and feels like {{ currentWeather?.current.feelslike_c }}°C</p>
            </div>
          </div>
        </ion-item>
      </ng-container>
    </ion-col>
  </ion-row>
</ion-grid>
