ion-grid{
  height: 100%;
}

ion-row{
  display: flex;
  align-items: end;
  height: 30%;
}

.__next{
  align-content: flex-start;
  text-align: center;
}

.card-animation {
  animation-name: cardAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}

@keyframes cardAnimation {
  0% {
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
  }
  70% {
    opacity: 1;
    transform: translateY(0) scale(1.2);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.card-back-animation {
  animation-name: cardAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}

@keyframes card-back-animation {
  100% {
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
  }
  30% {
    opacity: 1;
    transform: translateY(0) scale(1.2);
  }
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
