ion-grid{
  height: 100%;
}

ion-row{
  display: flex;
  align-items: end;
  height: 30%;
}

.__next{
  align-content: flex-start;
  text-align: center;
}

.__card{
  height: 0;
}

.cardAnimated{
  opacity: 0;
}
