<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size="6">
      <ion-item>
        <ion-label>Hello, </ion-label>
        <ion-button slot="end" size="default" color="success"
                    (click)="toggleDetails()"
        >
          {{this.currentUser.name.first}}
        </ion-button>
      </ion-item>
      <ion-label>
        <p></p>
        <ion-note color="secondary">You can change name anytime by clicking NAME button</ion-note>
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center __card">
    <ion-col size="6">
      <ion-card #cardAnimated class="cardAnimated">
        <img class="__userpic" alt="User photo" src="{{this.currentUser.picture.medium}}">
        <ion-card-header>
          <ion-card-title>{{this.currentUser.name.title}} {{this.currentUser.name.first}} {{this.currentUser.name.last}}</ion-card-title>
          <ion-card-subtitle>
            Birthday date: <strong>{{this.getShortDate(this.currentUser.dob.date)}}</strong>,
            Age: <strong>{{this.currentUser.dob.age}}</strong></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>Your phone number: <strong>{{this.currentUser.phone}}</strong>,</p>
          <p>you live in <strong>{{this.currentUser.location.city}}</strong>.</p>
        </ion-card-content>
        <ion-button><ion-icon slot="start" name="star"></ion-icon>Yes, it is mee</ion-button>
        <ion-button color="danger">That's not me</ion-button>
        <ion-button fill="clear"
                    (click)="this.currentUser = renewUser()"
        >
          Very funny, lets try another</ion-button>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center __next">
    <ion-col size="6">
      <ion-button #nextAnimated class="nextAnimated">
        Next
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
