<ion-toolbar>
  <ng-container *ngIf="!isMain">
    <ion-button fill="outline" slot="start"
      (click)="this.router.navigate(['/tabs/hello-tab'])"
    >
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </ng-container>
  <ion-title>
    {{title}}
  </ion-title>
  <ion-button fill="outline" slot="end">
    <ion-toggle
      [checked]="this.darkModeService.isDarkMode"
      (ionChange)="this.toggleThemes($event)"
    >Theme</ion-toggle>
  </ion-button>
</ion-toolbar>
